body {
    margin: 0;
    padding: 0;
    background-color: #f3e9f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Akaya Kanadaka", cursive;
}

#logo {
    width: 300px;
    height: 100px;
    background-color: #f3e9f1;
}

img {
    width: 50rem;
    height: 22rem;
    padding-left: 20px;
    border: 2px solid black;
    background-color: black;
    object-fit: cover;
}

a {
    color: black;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: space-between;
}

//css de la mention légale
#container_mention {
    text-align: justify;
}

// css de l'index.
#camera-items-1 {
    width: 100%;
    margin: 0px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
        width: 50%;
        left: 25%;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 40px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(121, 54, 9, 0.6019140932740283) 31%,
            rgba(0, 212, 255, 1) 100%
        );
        background-size: 400% 400%;
        animation: TransitioningBackground 10s ease infinite;
        transition: 0.6s;

        @keyframes TransitioningBackground {
            0% {
                background-position: 1% 0%;
            }
            50% {
                background-position: 99% 100%;
            }
            100% {
                background-position: 1% 0%;
            }
        }

        &::before {
            text-decoration: none;
            content: "";
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            width: 60px;
            height: 100%;
            top: 0;
            filter: blur(30px);
            transform: translateX(-100px) skewX(-15deg);
        }

        &::after {
            text-decoration: none;
            content: "";
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 100%;
            top: 0;
            filter: blur(5px);
            transform: translateX(-100px) skewX(-15deg);
        }

        &:hover {
            text-decoration: none;
            background-image: (linear-gradient(to left, #e76914, #d155b8));
            transform: scale(1.2);
            cursor: pointer;

            &::before,
            &::after {
                text-decoration: none;
                transform: translateX(300px) skewX(-15deg);
                transition: 0.7s;
            }
        }
    }

    p {
        font-size: 20px;
    }
    .li_items {
        list-style-type: none;
        text-align: center;
        width: 100%;
        height: 50%;
        background-color: #f3e9f1;
        font-family: "Akaya Kanadaka", cursive;
        padding-bottom: 80px;
    }
}

//css de products
#value_cart {
    color: whitesmoke;
    font-size: 15px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    #imgProduct {
        width: 50%;
        height: 40%;
    }
    #select {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

// css de confirm
#container_confirm {
    display: flex;
    justify-content: space-between;
    #container-1 {
        width: 50%;
        padding: 3px;
        border: 2px solid black;
        h1 {
            font-size: x-large;
        }
        #table {
            font-family: "Akaya Kanadaka", cursive;
            width: 70%;
            font-size: x-large;
            a.remove1 {
                box-sizing: border-box;
                position: relative;
                display: block;
                transform: scale(var(--ggs, 1));
                width: 10px;
                height: 12px;
                border: 2px solid transparent;
                box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
                border-bottom-left-radius: 1px;
                border-bottom-right-radius: 1px;
                margin-top: 4px;
                margin-left: 30px;
                cursor: pointer;
            }

            a.remove1::after,
            a.remove1::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
            }

            a.remove1::after {
                background: currentColor;
                border-radius: 3px;
                width: 16px;
                height: 2px;
                top: -4px;
                left: -5px;
            }

            a.remove1::before {
                width: 10px;
                height: 4px;
                border: 2px solid;
                border-bottom: transparent;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                top: -7px;
                left: -2px;
            }
        }
        tr {
            text-align: center;
        }

        th {
            text-align: center;
            text-decoration: underline;
        }
        .button_remove1 {
            color: #212529;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid black;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
        }
        #button_remove {
            margin-top: 30px;
        }
    }
    #container-2 {
        width: 50%;

        border: 2px solid black;
        padding: 15px;
    }
    h2 {
        font-size: x-large;
    }
}

//css de pagevalid.html

#confirmation-recap {
    display: flex;
    flex-direction: column;
    font-family: "Akaya Kanadaka", cursive;
    font-size: medium;
    border: 1px solid black;
    th {
        text-decoration: none;
    }
    .th_title {
        font-size: 20px;
    }
    td {
        display: flex;
        flex-direction: column;
        width: auto;
        text-decoration-style: none;
        color: rgba(121, 54, 9, 0.6019140932740283);
    }
    table {
        text-align: left;
    }
}
#firstName,
#orderId {
    font-weight: bold;
    font-size: larger;
}

@media all and (max-width: 850px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #f3e9f1;
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    img {
        width: 100%;
        height: 22rem;
        border: 5px solid black;
        background-color: black;
        object-fit: cover;
    }
    #logo {
        width: 100%;
        height: 120px;
        background-color: #f3e9f1;
    }
    #index_cart {
        color: whitesmoke;
        font-size: 10px;
    }
    #container_confirm {
        display: flex;
        width: 100%;
        flex-direction: column;
        #container-1 {
            width: 100%;
        }
        #container-2 {
            width: 100%;
        }
    }
}
